.annotation-mark {
  padding-left: 2.7rem;
  position: relative;
}

.annotation-mark::before {
  content: '';
  position: absolute;
  left: 0;
  border-radius: 25%;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--mark-color);
}
